@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #fdfdfd;
    overflow-x: hidden;
}

:root {
  --color__1: #46befa;
  --color__2: #07115e;
  --color__3: #fcd421;
  --color__4: #326bd6;
}

/* Navigation */

.info__bot {
  display: flex;
  justify-content: space-between;
  padding: 12px 50px;
  align-items: center;
  background-color: var(--color__4);
  border-radius: 0px 0px 15px 15px;
}

.log {
  display: flex;
  align-items: center;
  gap: 10px;
}

.log h1 {
  position: relative;
  top: 4px;
  color: white;
}

/* Style Messages */
.content {
  width: 100%;
  height: 100vh;
  margin-top: 50px;
  padding: 0px 15px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.Bot {
  width: 100%;
  display: flex;
  gap: 15px;
  align-items: center;
}
.Bot h1 {
  display: flex;
  justify-content: flex-start;
  font-weight: 400;
  font-size: 1.2rem;
  position: relative;
  top: 20px;
  background-color: #e4e4e4;
  padding: 5px 25px;
  color: #326bd6;
  border-radius: 15px;
}

.you {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  align-items: center;
}

.you h1 {
  font-weight: 400;
  font-size: 1.2rem;
  position: relative;
  top: 20px;
  background-color: #326bd6;
  padding: 5px 25px;
  color: white;
  border-radius: 15px;
}

/* Scroll Style */

.chat-bot::-webkit-scrollbar {
  width: 5px;
}
.chat-bot::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #326bd6);
  border-radius: 8px;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #326bd6);
  border-radius: 8px;
}

/* input & btn Style */

.input::placeholder {
  color: white;
}

.input:focus {
  outline: none;
}

@media (max-width: 425px) {
  .info__bot {
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}
